<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        <!-- <style>
            .city {
            height: 100%;
            background-image:
                linear-gradient(
                to right, 
                #198754,
                #ffffff 10%,
                #ffffff 10%,
                #ffffff 90%,
                #ffffff 90%,
                #198754 100%
                );
            }
        </style> -->
    </head>
    <body>
        <header>
            {{- partial "header.html" . -}}
        </header>
        <main id="content">
            {{- block "main" . }}{{- end }}
        </main>
        <footer>
            {{- partial "footer.html" . -}}
        </footer>
        {{- partial "script.html" . -}}
    </body>
</html>
